* {
    margin: 0px;
}

/* This navbar styling provided by Ethan Diosana from an earlier assignment */

#navBar {
    font-size: 1em;
    padding: 10px;  
    display: flex;
    background-color: antiquewhite;
    border: 1px solid black;
}

#navBar div {
    margin-left: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

#navBar div:hover {
  background-color: rgb(160, 151, 139);
}