* {
    margin: 0px;
}

.postContainer {
    margin: 5pt;
    border: 2px solid black;
}

/* This navbar styling provided by Ethan Diosana from an earlier assignment. */

#navBar {
    font-size: 1em;
    padding: 10px;  
    display: flex;
    background-color: antiquewhite;
    border: 1px solid black;
}

#navBar div {
    margin-left: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

/* A cool hover styling. */
#navBar div:hover {
    margin-left: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(175, 164, 149);
}

#postsContainer {
    overflow-y: scroll;
    border: 1px solid black;
    border-radius: 5pt;
    height: 80vh;
    margin: 10pt;
}

#submitContainer {
    margin: 5pt;
}

.postContainer {
    border: 1pt solid black;
    border-radius: 5pt;
    padding: 10pt;
    display: grid;
    grid-template-rows: 0.1fr 1fr 1fr 0.5fr;
}

.postTitle {    
    font-size: 2em;
    color:blue;
    grid-row-start: 1;
}

.postTitle:hover {
    text-decoration: underline;
}

.attributeContainer {
    grid-row-start: 2;
    display: flex;
    justify-content: space-between;
    
}

.postContent {
    grid-row-start: 3;
}

.del {
    width: 50pt;
    grid-row-start: 4;
}
