* {
    margin: 0px;
}

.postContainer {
    margin: 5pt;
    border: 2px solid black;
}

/* This navbar styling provided by Ethan Diosana from an earlier assignment. */

#navBar {
    font-size: 1em;
    padding: 10px;  
    display: flex;
    background-color: antiquewhite;
    border: 1px solid black;
}

#navBar div {
    margin-left: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

/* A cool hover styling. */
#navBar div:hover {
    margin-left: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(175, 164, 149);
}

#postsContainer {
    overflow-y: scroll;
    border: 1px solid black;
    border-radius: 5pt;
    height: 80vh;
    margin: 10pt;
}

#submitContainer {
    margin: 10pt;
}


