@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
* {
    font-family: 'Cabin', sans-serif;
}
.user, .col3 {
    font-size: 150%;
}
#postsContainer {
    padding: 1em;
}
.title {
    border: 1px solid black;
}
.date, .user {
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.user {
}
.postBody {
    border: 1px solid black;
    border-top: 0;
    padding: 1em;
}
#submitContainer {
    display: flex;
    justify-content: center;
}
